* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dbdbdb;
}
main {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  height: 500px;
  width: 400px;
  background-color: #085299;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  border: solid 2px rgba(121, 121, 121, 0.534);
  box-shadow: 5px 5px 10px 1px grey;
}


/*^ Top Styling */
.top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
#branding {
  font-size: 40px;
}
#solarPanel {
  height: 40px;
  width: 150px;
  display: flex;
  background-color: rgb(39, 39, 39);

}
.solarBlock {
  border: solid 1.5px rgb(68, 68, 68);
  width: 30px;

}




/*^ Screen Styling */
.screen {
  height: 100px;
  width: 80%;
  border: solid 2px grey;
  background-color: lightgrey;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 20px;
  font-size: 30px;
}

/*^ Button Styling */
.buttonContainer {
  padding: 0 20px 20px 20px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
button {
  height: 60px;
  border: solid 1.5px grey;
  box-shadow: 1px 1px 2px 0px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;

}